/* =====COMMON STYLE START===== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* =====COMMON STYLE END===== */

/* =====HEADER SECTION START===== */

#banner {
    padding: 100px 0;
    background-color: #2D25A0;
}

#banner .banner-all-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-text h1 {
    font-size: 64px;
    line-height: 80px;
    width: 520px;
    color: #ffff;
    font-weight: 700;
}

#banner .banner-text a {
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #fff;
    margin-top: 27px;
    display: inline-block;
    letter-spacing: 1px;
    border: 2px solid transparent;
    transition: .4s;
}

#banner .banner-text a:hover {
    background-color: transparent;
    border: 2px solid #E02C6D;
}

#banner .banner-img {
    width: 556px;
}

#banner .banner-img img {
    width: 100%;
}


/* =====HEADER SECTION END===== */

/* =====PLAYER SECTION START===== */

#players .all-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}


#players .player-box {
    padding: 15px 15px 33px 15px;
    box-shadow: 0 2px 18px 15px #ecebeb;
}


#players .all-players .player-img img {
    width: 100%;
}

#players .player-desc h3 {
    font-size: 28px;
    margin-top: 5px;
    color: #18191F;
}

#players .player-desc p {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* =====PLAYER SECTION END===== */

#footer .footer-content{
    text-align: center;
    margin-top: 150px;
    width: 483px;
    margin-left: 315px;
}

#footer .footer-img img{
    width: 100%;
}

.footer-icon i {
    width: 30px;
    height: 30px;
    background-color: #E7E7E8;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #8A8E9D;
    margin: 0 5px;
}

.footer-text p {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 63px;
}



















/* =====MEDIA QUERY START===== */

@media only screen and (max-width:688px) {

    .container {
        width: 100%;
    }

    /* =====BANNER SECTION===== */

    .banner-all-contents {
        flex-direction: column;

    }

    #banner .banner-text h1 {
        font-size: 36px;
        line-height: 50px;
        width: 266px;
    }

    #banner .banner-img {
        width: 329px;
        height: 260px;
        margin-top: 50px;
    }

    /* =====PLAYERS SECTION===== */

    #players .all-players {
        grid-template-columns: repeat(1, 1fr);
    }

    /* =====FOOTER SECTION===== */

    #footer .footer-content{
        margin-left: 20px;
        margin-top: 43px;
        margin-bottom: 147px;
        width: 370px;
    }

}

/* =====FOR TABLATE===== */

@media only screen and (min-width: 688px) and (max-width: 992px) {

    .container {
        width: 100%;
    }

    /* =====BANNER SECTION===== */

    .banner-all-contents {
        flex-direction: row;
        justify-content: space-around;
    }

    #banner .banner-text h1 {
        font-size: 45px;
        line-height: 60px;
        width: 342px;
    }

    .banner-img {
        width: 380px;
        height: 295px;
        margin-top: 0;
    }

    /* =====PLAYERS SECTION===== */

    #players .all-players {
        grid-template-columns: repeat(2, 1fr);
    }

    #footer .footer-content {
        margin-left: 120px;
    }


}

