/* =====COMMON STYLE START===== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

/* =====COMMON STYLE END===== */

/* =====HEADER SECTION START===== */

#banner {
    padding: 100px 0;
    background-color: #2D25A0;
}

#banner .banner-all-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-text h1 {
    font-size: 64px;
    line-height: 80px;
    width: 520px;
    color: #ffff;
    font-weight: 700;
}

#banner .banner-text a {
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #fff;
    margin-top: 27px;
    display: inline-block;
    letter-spacing: 1px;
    border: 2px solid transparent;
    transition: .4s;
}

#banner .banner-text a:hover {
    background-color: transparent;
    border: 2px solid #E02C6D;
}

#banner .banner-img {
    width: 556px;
}

#banner .banner-img img {
    width: 100%;
}


/* =====HEADER SECTION END===== */

/* =====PLAYER SECTION START===== */

#players .all-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
    grid-column-gap: 30px;
    grid-row-gap: 27px;
}


#players .player-box {
    padding: 15px 15px 33px 15px;
    box-shadow: 0 2px 18px 15px #ecebeb;
}


#players .all-players .player-img img {
    width: 100%;
}

#players .player-desc h3 {
    font-size: 28px;
    margin-top: 5px;
    color: #18191F;
}

#players .player-desc p {
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}

/* =====PLAYER SECTION END===== */

/* =====HIGHLIGHTS SECTION START====== */

#highlights {
    padding-top: 100px;
}

#highlights .highlight-contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#highlights .highlights-text {
    width: 470px;
}

.highlights-text h1 {
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
}

.highlights-text p {
    font-size: 16px;
    color: #6C6C6C;
    line-height: 28px;
    padding-top: 5px;
    width: 404px;
}

#highlights .highlights-text a {
    padding: 10px 24px;
    background-color: #E02C6D;
    color: #fff;
    margin-top: 27px;
    display: inline-block;
    letter-spacing: 1px;
    border: 2px solid transparent;
    transition: .4s;
}

#highlights .highlights-text a:hover {
    background-color: #2D25A0;
    color: #fff;
}



#highlights .highlights-img {
    width: 567px;
    height: 427px;
}

#highlights .highlights-img img {
    width: 100%;
}

/* =====HIGHLIGHTS SECTION SEND====== */


/* =====BONUS STADIUMS SECTION START===== */

#stadiums {
    padding-top: 70px;
}

#stadiums .stadiums-heading h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 20px 0;
    color: #2D25A0;
}

#stadiums .all-stadiums {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}


#stadiums .stadium img {
    width: 100%;
    height: 250px;
    border-radius: 7px;
}

#stadiums .stadium h2 {
    font-size: 25px;
    color: #000F2C;
    font-weight: 600;
    margin-top: 5px;
}


#stadiums .stadium p {
    font-size: 18px;
    padding-bottom: 6px;
}

#stadiums .stadium a {
    color: #11a9fb;
    font-size: 18px;
    transition: .3s;
}

#stadiums .stadium a:hover {
    letter-spacing: 2px;
}

/* =====BONUS STADIUMS SECTION END===== */

/* =====BONUS PERTNERS SECTION START===== */

#partners {
    padding-top: 70px;
}

#partners .partners-heading h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #2D25A0;
    text-align: center;
}

#partners .all-partners-logo {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
    text-align: center;
}

/* =====BONUS PERTNERS SECTION END===== */

/* =====FOOTER SECTION START===== */
#footer .footer-content {
    text-align: center;
    margin-top: 150px;
    width: 483px;
    margin-left: 315px;
}

#footer .footer-img img {
    width: 100%;
}

.footer-icon i {
    width: 30px;
    height: 30px;
    background-color: #E7E7E8;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #8A8E9D;
    margin: 0 5px;
}

.footer-text p {
    font-size: 18px;
    color: #000;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 63px;
}

/* =====FOOTER SECTION END===== */













/* =====MEDIA QUERY START===== */

@media only screen and (max-width:688px) {

    .container {
        width: 100%;
    }

    /* =====BANNER SECTION===== */

    .banner-all-contents {
        flex-direction: column;

    }

    #banner .banner-text h1 {
        font-size: 36px;
        line-height: 50px;
        width: 266px;
    }

    #banner .banner-img {
        width: 329px;
        height: 260px;
        margin-top: 50px;
    }

    /* =====PLAYERS SECTION===== */

    #players .all-players {
        grid-template-columns: repeat(1, 1fr);
    }

    /* =====HIGHLIGHTS SECTION====== */

    .highlight-contents {
        flex-direction: column;
    }

    #highlights .highlights-text {
        width: 329px;
    }

    #highlights .highlights-text h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #highlights .highlights-text p {
        width: 329px;
    }

    #highlights .highlights-img {
        width: 328px;
        height: 248px;
        margin-top: 30px;
    }



    /* =====BONUS STADIUMS SECTION===== */

    #stadiums .stadiums-heading {
        text-align: center;
    }

    #stadiums .all-stadiums {
        grid-template-columns: repeat(1, 1fr);
    }

    #stadiums .stadium {
        margin: 0 15px;
    }

    #stadiums .stadium img {
        height: 200px;
    }

    /*  =====BONUS PARTNERS SECTION START===== */
    #partners .all-partners-logo {
        grid-template-columns: repeat(1, 1fr);
    }

    /* =====FOOTER SECTION===== */

    #footer .footer-content {
        margin-left: 20px;
        margin-top: 43px;
        margin-bottom: 147px;
        width: 310px;
    }


}



/* =====FOR TABLATE===== */

@media only screen and (min-width: 688px) and (max-width: 992px) {

    .container {
        width: 100%;
    }

    /* =====BANNER SECTION===== */

    .banner-all-contents {
        flex-direction: row;
        justify-content: space-around;
        margin: 0 20px;
    }

    #banner .banner-text h1 {
        font-size: 45px;
        line-height: 60px;
        width: 342px;
    }

    #banner .banner-img {
        width: 450px;
        height: 295px;
        margin-top: 0;
    }

    /* =====PLAYERS SECTION===== */

    #players .all-players {
        grid-template-columns: repeat(2, 1fr);
    }

    #footer .footer-content {
        margin-left: 120px;
        margin-top: 50px;
    }


    /* =====HIGHLIGHTS SECTION====== */

    .highlight-contents {
        align-items: flex-start;
        margin: 0 10px;
    }


    #highlights .highlights-text {
        width: 329px;
    }

    #highlights .highlights-text h1 {
        font-size: 30px;
        line-height: 40px;
    }

    #highlights .highlights-text p {
        width: 329px;
    }


    /* =====BONUS STADIUMS SECTION===== */

    #stadiums .stadiums-heading {
        text-align: center;
    }

    #stadiums .all-stadiums {
        grid-template-columns: repeat(2, 2fr);
    }

    #stadiums .stadium {
        margin: 0 15px;
    }

    #stadiums .stadium img {
        height: 220px;
    }

    /*  =====BONUS PARTNERS SECTION START===== */
    #partners .all-partners-logo {
        grid-template-columns: repeat(2, 2fr);
    }


}